// Remove shadow under navbar
.navbar {
  box-shadow: none;
}

// Full width Portfolio filter toolbar
.btn-toolbar .btn-group {
  flex: 1;
}

// Custom section spacing
.home-section {
  padding: 1.5rem 0;
}

.section-heading {
  margin-bottom: 3rem !important;
}

// Center CTA button
.cta-group {
  justify-content: center;
}

@media only screen and (min-width: 1001px) {
	.page-body .universal-wrapper{
		max-width: 1350px;
		width: 1350px;
		margin: 0 auto;
	}
	.article-container {
		max-width: 1350px;
	}
}